/* stylesEditPerfil.css */
/* Estilos adicionales para centrar el formulario como una tabla */
.edit-profile-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 1140px; /* Ancho máximo del formulario */
    width: 100%; /* Ancho relativo al contenedor */
  }
  
  .edit-profile-form {
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .edit-profile-form h3 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  #btnEliminarUsuario {
    background-color: #ff0000; /* Rojo */
    color: #fff; /* Texto en blanco */
    margin-left: 10px; /* Espacio entre botones */
  }
  
  #btnEliminarUsuario:hover {
    background-color: #cc0000; /* Cambio de color al pasar el mouse */
  }