/* Estilos personalizados */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Fondo gris claro */
}

.navbar {
  background-color: #ffffff; /* Barra de navegación blanca */
}

.navbar-brand {
  color: #007bff; /* Color azul del texto del logo */
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #8BB95E; /* Color de texto de los enlaces de navegación */
}
.navbar-nav .nav-link i {
  color: #8BB95E; /* Cambia el color de los iconos a verde (#28a745) */
}

.jumbotron {
  background-color: #f8f9fa; /* Jumbotron gris claro */
}

.card {
  margin-bottom: 20px;
  background-color: #ffffff; /* Fondo blanco de las tarjetas */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #007bff; /* Encabezado de tarjeta azul */
  color: #ffffff; /* Color de texto del encabezado de tarjeta */
}

.card-body {
  color: #343a40; /* Color de texto del cuerpo de la tarjeta */
}

.card-title {
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff; /* Botón primario azul */
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9; /* Botón primario azul oscuro al pasar el cursor */
  border-color: #0062cc;
}
  /* Agrega estilos personalizados para la foto de portada */
.cover-photo {
    background-image: url("../imagenes/imagen.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
  }
  .logo-image {
    width: 100px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: auto; /* Mantén la proporción original de la imagen */
  }
  .nav-item {
    margin-right: 40px; /* Ajusta el valor según el espacio de separación deseado */
  }
  .nav-link i {
    font-size: 1.4em; /* Ajusta el tamaño de los iconos según tus necesidades */
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }
  .navbar {
    width: 100%;
  }
  .btn-primary {
    background-color: #8BB95E;
    border-color: #8BB95E;
  }
  #search-input {
    margin-left: 200px; /* Ajusta el valor según tus necesidades */
    width: 400px; /* Ajusta el valor según tus necesidades */
  }
  .bg-custom-green {
    background-color: #8BB95E; /* Cambia el valor a tu tono de verde preferido */
  }
  .btn-custom-green {
    background-color: #8BB95E; /* Color de fondo verde */
    border-color: #8BB95E; /* Color del borde verde */
    color: #fff; /* Color del texto blanco */
  }

  .btn-custom-green:hover {
    background-color: #8BB95E; /* Color de fondo verde */
    border-color: #8BB95E; /* Color del borde verde */
    color: #fff; /* Color del texto blanco */
    opacity: 1; /* Opacidad completa al pasar el cursor */
  }

  /* */
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

.contenido {
    min-height: calc(100vh - (headerHeight + footerHeight));
}
.container-fluid {
  background-color: #ffffff; /* Cambia este valor al color deseado */
}

.nav-item.active {
    background-color: lightgrey;
}
.EspacioDedicado {
  padding: 5%;
}

.navbar-nav .nav-item:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.navbar-main {
  background-color: #ffffff; /* Cambia este valor al color deseado */
  border-top: 1px solid #ccc;
}
.card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
}
.card-img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

